@{
    ViewData["Title"] = "About Our Employees";
}
<body>

    <img src="~/images/bg.jpg" id="bg" />
    <h1 id="C"> About Our Company : </h1>

    <p>
        Aspiring doll designer and maker, Jigarbhai Govindbhai Pate have taken a variety of art, drawing, and sewing
        classes in school which helped them to create this awsome inovation of dolls.
        Many art guilds offer classes in doll making in various mediums. Fabric and craft stores may offer classes
        in fabric doll making. Taking computer design courses will also be helpful.Check out the web for local, state,
        regional, and national doll maker organizations. They often offer conferences and programs of interest for doll
        designers and makers. You might also contact the National Institute of American Doll Artists, a "worldwide group
        of doll artists, supportive patrons, and friends whose purpose is to promote the art of the original handmade
        doll." The institute offers conferences, academies, and classes, as well as a doll making school each summer
        for individuals interested in learning dollmaking techniques such as sculpting, painting, fabric-figure making,
        textile design, armature design, costuming, and more.Take every opportunity to visit art and craft shows where
        doll artists may be featured. These will give you ideas as well as help you make important contacts in the field.
    </p>


    <h1>Description of Products</h1>

    <p> <hr /> </p>

    <p>
        <img id="Tanaji" src="~/images/Tanaji Doll.jpg" />
        <h3> Tanaji Doll </h3>
        Tanaji came from a Hindu Koli family.[9][10][11]Tanaji's father's name was Kaloji Malusare. His family was from
        Godoli village, which is situated near Pachgani. He spent his childhood there.[citation needed] When Shivaji
        appointed him to curb robbers of Poladpur, Mahabaleshwar, he then migrated to Umrath village. Tanaji had a son,
        Rayba Malusare and a brother Suryaji Malusare. His uncle Shelar Mama (transl. Maternal uncle) was also in the
        service of Shivaji. He postponed his son Rayba's wedding to win the Kondana fort from Mughals. Legends say that
        he took the responsibility to win that fort and said, "Aadhi Lagan Kondhanyache aani mag majhya Raybache"(transl. 
        Firstly marriage of Kondhana and then my Rayba) (lit. 'First I'll win Kondhana and then I'll conduct marriage of
        my son Rayba'').
    </p>

    <p> <hr /> </p>

    <p>
        <img id="Frozen" src="~/images/Frozen doll.jpg" />
        <h3> Frozen Doll </h3>
        A Frozen Charlotte is a specific form of china or bisque doll made in one solid piece without joints from c. 1850
        to c. 1920. They were typically inexpensive, and the name Penny doll is also used, in particular for smallest, most
        affordable versions. The dolls had substantial popularity during the Victorian era.
        <br />
        The name of the doll originates from the American folk ballad Fair Charlotte, based on the poem "A Corpse Going to
        a Ball"[1] by Seba Smith, which tells of a young girl called Charlotte who refused to wrap up warmly to go on a sleigh
        ride because she did not want to cover up her pretty dress; she froze to death during the journey.
    </p>

    <p> <hr /> </p>

    <p>
        <img id="Halloween" src="~/images/halloween-doll.jpg" />
        <h3> Halloween Doll </h3>
        According to Linda Rodriguez McRobbie, the concept of malevolent dolls gained attention in the 20th century when film
        and entertainment technology was able to realistically portray "safely inanimate" dolls as "dangerously animate". McRobbie
        cites examples such as the 1936 film The Devil-Doll by Tod Browning, the Living Doll episode of the TV series Twilight Zone,
        the clown doll from the film Poltergeist, the Chucky doll featured in the Child's Play film franchise, as well as "B-movie
        variations on the homicidal doll theme" such as Dolly Dearest, Demonic Toys, and Blood Dolls. More recently, a character
        based on the doll named Annabelle owned by Ed and Lorraine Warren has been featured in The Conjuring series of films.
        <br />
        Robert is a doll claimed to be possessed by spirits that is on display at the East Martello Museum in Key West, Florida,
        that was once owned by Key West painter and author Robert Eugene Otto.
    </p>

    <p> <hr /> </p>

    <p>
        <img id="Moana" src="~/images/Moana pop doll.jpg" />
        <h3> Moana pop Doll </h3>
        Funko Inc. is an American company that manufactures licensed and limited pop culture collectibles, best known for its
        licensed vinyl figurines and bobbleheads. In addition, the company produces licensed plush, action figures, apparel,
        accessories and games.
        <br />
        Founded in 1998 by Mike Becker[2] and Claudia Becker, Funko was originally conceived as a small project to create
        various low-tech, nostalgia-themed toys. The company's first manufactured bobblehead was of the well-known restaurant
        advertising icon, the Big Boy mascot.
    </p>

    <p> <br /><br /> <hr /> </p>

    <h1 id="C"> Headquarters : </h1>

    <p>
        <h3> Details : </h3>
        Three is only one Headquarter in India and which manages all export of our product through-out the world. Our head
        quarter is situated in the iGATE Patni Knowledge Park, is a uniquely designed building. The building from a glance
        looks a bit like the bleachers in a stadium with one of the tall lights. It is one of the largest software parks in
        Mumbai.
        <br /><br />
        <b>Location:</b>
        <br />
        Patni Knowledge Park
        <br />
        5XHR+J87, Mugalsan Rd,
        <br />
        MSEB Staff Colony,
        <br />
        TTC Industrial Area, Airoli,
        <br />
        Navi Mumbai, Maharashtra 400708,
        <br />
        India
    </p>

    <p> <br /><br /> <hr /> </p>

    <h1 id="C"> Client Info : </h1>

    <p>
        <h3> Details : </h3>
        Our smart, talented and remote team of 25+ people provides a powerful mix of strategic leadership and specialized
        execution. We call it our consultancy meets agency love story.
        <br />
        We deftly balance strategic consulting lead by industry veterans with marketing agency services executed with amazing
        design and powerful technology.
        <br /><br />
        <ul>
            <li>Chief executive officer: Naya Acharya</li>
            <li>Administrative assistant: Kabir Agarwal</li>
            <li>Sales manager: Ishaan Khatri</li>
            <li>Product manager: Jai Ahuja</li>
            <li>Marketing manager: Amar Patel</li>
        </ul>
    </p>

</body>